<style>
    .fa-sort-asc{
        color : #333333;
    }
    .fa-sort-desc{
        color : #333333;
    }
    .fa-sort{
        color : #BBBBBB;
    }
</style>
<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Executions</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading"><i class="fa fa-play-circle fa-fw"></i> Executions
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-12"> <!--row above -->
                            <h4>Click on the view icon to drill into a job execution</h4>
                            <h4>To view a job and it's executions simply select the job name or id</h4>
                        </div>
                    </div>
                    <hr>
                    <span us-spinner spinner-key="spinner-1"></span>
                    <div class="row">
                        <div class="col-lg-12" style="overflow: auto">
                            <table class="table table-striped table-hover execution" id="tableExecutions">
                                <thead>
                                <tr>
                                    <th ng-click="orderBy('id')">ID
                                            <i class="fa fa-fw fa-sort" ng-show="'id' !== orderColumn"></i>
                                            <i class="fa fa-fw fa-sort-asc" ng-show="'id' == orderColumn && 'asc' == orderDirection"/>

                                            <i class="fa fa-fw fa-sort-desc" ng-show="'id' == orderColumn && 'asc' != orderDirection"/>
                                    </th>
                                    <th ng-click="orderBy('executed_job_name')">JOB
                                            <i class="fa fa-fw fa-sort" ng-show="'executed_job_name' !== orderColumn"></i>
                                            <i class="fa fa-fw fa-sort-asc" ng-show="'executed_job_name' == orderColumn && 'asc' == orderDirection"/>
                                            <i class="fa fa-fw fa-sort-desc" ng-show="'executed_job_name' == orderColumn && 'asc' != orderDirection"/>

                                    </th>
                                    <th ng-click="orderBy('executed_job_id')">JOB ID
                                            <i class="fa fa-fw fa-sort" ng-show="'executed_job_id' !== orderColumn"></i>
                                            <i class="fa fa-fw fa-sort-asc"  ng-show="'executed_job_id' == orderColumn && 'asc' == orderDirection"/>
                                            <i class="fa fa-fw fa-sort-desc"  ng-show="'executed_job_id' == orderColumn && 'asc' != orderDirection"/>
                                    </th>
                                    <th>STATUS
                                    </th>
                                    <th>STATUS MESSAGE
                                    <th ng-click="orderBy('start_date')">START
                                            <i class="fa fa-fw fa-sort" ng-show="'start_date' !== orderColumn"></i>
                                            <i class="fa fa-fw fa-sort-asc"  ng-show="'start_date' == orderColumn && 'asc' == orderDirection"/>
                                            <i class="fa fa-fw fa-sort-desc" ng-show="'start_date' == orderColumn && 'asc' != orderDirection"/>
                                    </th>
                                    <th ng-click="orderBy('end_date')">END
                                            <i class="fa fa-fw fa-sort" ng-show="'end_date' !== orderColumn"></i>
                                            <i class="fa fa-fw fa-sort-asc"  ng-show="'end_date' == orderColumn && 'asc' == orderDirection"/>
                                            <i class="fa fa-fw fa-sort-desc" ng-show="'end_date' == orderColumn && 'asc' != orderDirection"/>
                                    </th>
                                    <th>ELAPSED (ms)</th>
                                    <th>TOTAL</th>
                                    <th>PROCESSED</th>
                                    <th>REJECTED</th>
                                    <th>&nbsp;</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="execution in executions" ng-style="executionRecordStyle(execution.status)">
                                    <td class="numericData">{{execution.id}}</td>
                                    <td class="textData"><a href="#!jobs/{{execution.executedJobId}}/executions" title="View Job Executions" ng-style="executionRecordStyle(execution.status)" ng-disabled="{{!user.authorities.EXECUTIONS[0]}}"><strong>{{execution.executedJob}}</strong></a></td>
                                    <td class="numericData"><a href="#!jobs/{{execution.executedJobId}}/executions" title="View Job Executions" ng-style="executionRecordStyle(execution.status)" ng-disabled="{{!user.authorities.EXECUTIONS[0]}}"><strong>{{execution.executedJobId}}</strong></a></td>
                                    <td class="textData">{{execution.status}}</td>
                                    <td class="rawData">{{execution.statusCode}} - {{execution.statusMessage}}</td>
                                    <td class="timeData">{{execution.start | date:'yyyy-MM-dd HH:mm:ss'}} </td>
                                    <td class="timeData">{{execution.end | date:'yyyy-MM-dd HH:mm:ss'}}</td>
                                    <td class="numericData">{{execution.elapsed | number:0}}</td>
                                    <td class="numericData">{{execution.total | number:0}}</td>
                                    <td class="numericData">{{execution.processed | number:0}}</td>
                                    <td class="numericData">{{execution.rejected | number:0}}</td>
                                    <td class="rowControls">
                                        <a href="#!jobs/{{execution.executedJobId}}/executions/{{execution.id}}" title="View Execution" class="btn btn-info" ng-disabled="{{!user.authorities.EXECUTIONS[0]}}"><i class="fa fa-search"></i></a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="paginationControls">
        <div>
            <pagination boundary-links="true" total-items="totalItems" page="currentPage" max-size="5"
                ng-model="currentPage" class="pagination-sm" previous-text="&lsaquo;" first-text="&lsaquo;&lsaquo;"
                next-text="&rsaquo;" last-text="&rsaquo;&rsaquo;" items-per-page="itemsPerPage"
                on-select-page="setPage(page)" ng-change="setPage(page)" />
        </div>
        <div class="paginationStats">
            {{currentPage * itemsPerPage - itemsPerPage + 1 + " - " + pageTo + " of " + totalItems + " Executions"}}
        </div>
        <br /><br /><br /><br /><br />
    </div>
</div>
