<style>
    .fa-sort-asc{
        color : #333333;
    }
    .fa-sort-desc{
        color : #333333;
    }
    .fa-sort{
        color : #BBBBBB;
    }
</style>
<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Jobs</h1>
        </div>
    </div>
    <div class="row" style="padding-bottom:20px !important;" >
        <div class="col-lg-12">
           <a href="#!/wizard"><strong>Create Job</strong></a>
            <!--<p><h4>Create a new job <a href="#!/wizard"><strong>Create Job</strong></a> or view and edit a job by selecting it from below</h4></p>-->
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
               <!-- <div class="panel-heading"><i class="fa fa-align-justify fa-fw"></i> Jobs
                </div>-->
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <alert ng-repeat="alert in alerts" type="alert.type" close="closeAlert($index)">{{alert.msg}}</alert>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12" style="overflow: auto">
                            <table class="table table-striped table-hover" id="tableJobs">
                                <thead>
                                <tr>
                                    <th ng-click="orderBy('id')">ID
                                            <i class="fa fa-fw fa-sort" ng-show="'id' !== orderColumn"></i>
                                            <i class="fa fa-fw fa-sort-asc" ng-show="'id' == orderColumn && 'asc' == orderDirection"/>
                                            <i class="fa fa-fw fa-sort-desc" ng-show="'id' == orderColumn && 'asc' != orderDirection"/>
                                    </th>
                                    <th ng-click="orderBy('type')">TYPE
                                            <i class="fa fa-fw fa-sort" ng-show="'type' !== orderColumn"></i>
                                            <i class="fa fa-fw fa-sort-asc" ng-show="'type' == orderColumn && 'asc' == orderDirection"/>
                                            <i class="fa fa-fw fa-sort-desc" ng-show="'type' == orderColumn && 'asc' != orderDirection"/>
                                    </th>
                                    <th>NAME</th>
                                    <th>DESCRIPTION</th>
                                    <th ng-click="orderBy('state')">STATE
                                            <i class="fa fa-fw fa-sort" ng-show="'state' !== orderColumn"></i>
                                            <i class="fa fa-fw fa-sort-asc" ng-show="'state' == orderColumn && 'asc' == orderDirection"/>
                                            <i class="fa fa-fw fa-sort-desc" ng-show="'state' == orderColumn && 'asc' != orderDirection"/>
                                    </th>
                                    <th ng-click="orderBy('execState')">STATUS
                                            <i class="fa fa-fw fa-sort" ng-show="'execState' !== orderColumn"></i>
                                            <i class="fa fa-fw fa-sort-asc" ng-show="'execState' == orderColumn && 'asc' == orderDirection"/>
                                            <i class="fa fa-fw fa-sort-desc" ng-show="'execState' == orderColumn && 'asc' != orderDirection"/>
                                        </a>
                                    </th>
                                    <th>&nbsp;</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="job in jobs">
                                    <td class="numericData">{{job.id}}</td>
                                    <td class="textData">{{job.type}}</td>
                                    <td class="textData">{{job.name}}</td>
                                    <td class="textData">{{job.description}}</td>
                                    <td class="textData">{{job.state}}</td>
                                    <td class="textData">{{job.execState}}</td>
                                    <td class="rowControls">
                                        <a href="#!jobs/{{job.id}}" title="View Job"  class="btn btn-info"  ng-disabled="{{!user.authorities.JOBS[0]}}"><i class="fa fa-search"></i></a>
                                        <a ng-controller="executeJobController" title="Execute Job" class="btn btn-warning" ng-click="open(job)" ng-disabled="{{!user.authorities.JOBS[4]}}"><i class="fa fa-play"></i></a>
                                        <a ng-controller="deleteJobController" title="Delete Job" class="btn btn-danger" ng-click="open(job)" ng-disabled="{{!user.authorities.JOBS[3]}}"><i class="fa fa-trash-o"></i></a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="paginationControls">
        <div>
            <pagination boundary-links="true" total-items="totalItems" page="currentPage" max-size="5" ng-model="currentPage"
                class="pagination-sm" previous-text="&lsaquo;" first-text="&lsaquo;&lsaquo;"
                next-text="&rsaquo;" last-text="&rsaquo;&rsaquo;" boundary-links="true" items-per-page="itemsPerPage"
                on-select-page="setPage(page)"
                ng-change="setPage(page)" />
        </div>
        <div class="paginationStats">
            {{currentPage * itemsPerPage - itemsPerPage + 1 + " - " + pageTo + " of " + totalItems + " jobs"}}
        </div>
        <br /><br />
    </div>
</div>
