<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Manage</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading"><i class="fa fa-gear fa-fw"></i> Manage
                </div>
                <div class="panel-body">
                    <alert ng-repeat="alert in alerts" type="alert.type" close="closeAlert($index)">{{alert.msg}}</alert>
                    <tabset justified="true">
                        <tab ng-repeat="tab in tabs" active="tab.active" disabled="tab.disabled">
                            <tab-heading><i class="fa {{tab.icon}} fa-fw"></i> {{tab.heading}}</tab-heading>
                            <div ng-include="tab.partial"></div>
                        </tab>
                    </tabset>
                </div>
            </div>
        </div>
    </div>
    <span us-spinner spinner-key="busySpinner"></span>
</div>
