<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">{{L.createNewJob}}</h1>
        </div>
    </div>
    <div class="row" id="wizard-top">
        <div class="col-lg-12">
            <ol class="wizard-progress">
                <li class="{{stepClass[$index]}}"
                    data-ng-repeat="wizardStep in wizardSteps"
                >
                    <span class="step-name">
                        <a href="" data-ng-click="activateStep($index + 1)">
                            {{interpolate(L.stepperTitle, $index + 1, wizardStep.name)}}
                        </a>
                    </span>
                    <span class="step-num">&nbsp;</span>
                </li>
            </ol>
        </div>
    </div>
    <alert style="margin-top: 10px;"
        data-ng-repeat="alert in alerts |limitTo:1"
        type="alert.type"
        close="closeAlert($index)"
    >{{alert.msg}}</alert>
    <span data-us-spinner data-spinner-key="spinner-1"></span>
    <div data-ng-include="partial.path"></div>
    <div class="row">
        <div class="col-lg-12 wizardButtonBar">
            <hr>
            <button type="button"
                class="btn btn-default"
                data-ng-click="cancelWizard()"
            >{{L.cancelWizard}}</button>
            <button class="btn btn-info"
                style="margin-left: 10px;"
                data-ng-disabled="isBlocking() || !validForm"
                data-ng-click="(null === partial.next) ? createJob() : activateNextStep()"
            >{{(null === partial.next) ? L.createWizard : L.nextWizard}}</button>
        </div>
    </div>
</div>
