<div data-ng-controller="mappingExistingLookupController">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-random fa-fw"></i> {{L.mapSectionHeader}}
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-12" style="overflow: auto;">
                        <table class="table table-bordered table-hover table-condensed">
                            <tr style="font-weight: bold">
                                <td style="width: 25%; text-align: center;">
                                    {{L.inputHeader}}
                                </td>
                                <td style="width: 25%; text-align: center;">
                                    {{L.destHeader}}
                                </td>
                                <td style="width: 10%; text-align: center;">
                                    {{L.dataTypeHeader}}
                                </td>
                                <td style="width: 5%; text-align: center;">
                                    {{L.sizeHeader}}
                                </td>
                                <td style="width: 15%; text-align: center;">
                                    {{L.formatHeader}}
                                </td>
                                <td style="width: 10%; text-align: center;">
                                    {{L.defaultHeader}}
                                </td>
                                <td style="width: 5%; text-align: center">
                                    {{L.requiredHeader}}
                                </td>
                                <td style="width: 5%; text-align: center;"></td>
                            </tr>
                            <tr data-ng-repeat="mappingRecord in savedState.mappingRecords"
                                data-ng-style="{ background :  mappingRecord.isKeyColumn && '#D3D3D3' }"
                            >
                                <td>
                                    <a href="">
                                        <span class="fa fa-question-circle fa-fw"
                                            title="{{L.keyTooltip}}"
                                            data-ng-if="mappingRecord.isKeyColumn"
                                        ></span>
                                        <i class="fa fa-key fa-fw"
                                            data-ng-if="mappingRecord.isKeyColumn"
                                        ></i>
                                        {{ mappingRecord.inputName || L.emptyKey }}
                                    </a>
                                </td>
                                <td>
                                    <span e-form="rowform"
                                        e-ng-disabled="mappingRecord.isKeyColumn"
                                        editable-select="mappingRecord.mappedDestinationOrdinalPos"
                                        e-name="mappedDestinationRecord"
                                        e-ng-options="destinationRecord.ordinalPos as destinationRecord.name for destinationRecord in savedState.destinationRecords"
                                        e-ng-change="setDestination($data, $index)"
                                        e-ng-required="true"
                                        onbeforesave="validateDestinationBeforeSave($data, $index)"
                                    >
                                        {{ showDestinationRecords(mappingRecord) || L.destinationNotMapped }}
                                    </span>
                                </td>
                                <td style="text-align: center">
                                    <p>
                                        {{ showDestinationDataType(mappingRecord) }}
                                    </p>
                                </td>
                                <td style="text-align: center">
                                    <p>{{ mappingRecord.size || '' }}</p>
                                </td>
                                <td style="text-align: center">
                                    <span e-ng-disabled="savedState.disableFormatSelect"
                                        e-form="rowform"
                                        editable-select="mappingRecord.format"
                                        e-name="format"
                                        e-ng-options="format.id as format.pattern for format in savedState.formats"
                                        onshow="loadFormats($index)"
                                        onbeforesave="validateFormatBeforeSave($data)"
                                    >
                                        {{ showFormats(mappingRecord) }}
                                    </span>
                                </td>
                                <td>
                                    <span e-form="rowform"
                                        editable-text="mappingRecord.defaultValue"
                                        e-disabled="true"
                                    >
                                        {{ mappingRecord.defaultValue || '' }}
                                    </span>
                                </td>
                                <td style="text-align: center">
                                    <a href=""
                                        e-form="rowform"
                                        buttons="no"
                                        editable-checkbox="mappingRecord.isRequired"
                                        >
                                        {{ mappingRecord.isRequired && L.isRequiredField || L.isNotRequiredField }}
                                    </a>
                                </td>
                                <td style="white-space: nowrap">
                                    <form name="rowform"
                                        class="form-buttons form-inline"
                                        editable-form
                                        onbeforesave=""
                                        data-ng-show="rowform.$visible"
                                        shown="false"
                                    >
                                        <button type="submit"
                                            class="btn btn-primary"
                                            data-ng-disabled="rowform.$waiting"
                                        >
                                            <i class="fa fa-check fa-fw"></i>
                                        </button>
                                        <button type="button"
                                            class="btn btn-default"
                                            data-ng-disabled="rowform.$waiting"
                                            data-ng-click="rowform.$cancel(); resetDestinationFields($index)"
                                        >
                                            <i class="fa fa-trash-o fa-fw"></i>
                                        </button>
                                    </form>
                                    <div class="buttons" data-ng-show="!rowform.$visible">
                                        <button type="button"
                                            class="btn btn-default"
                                            data-ng-disabled="mappingRecord.isKeyColumn"
                                            data-ng-click="rowform.$show()"
                                        >
                                            <i class="fa fa-pencil fa-fw"></i>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                        </table>
                        <button data-ng-hide="true"
                            data-ng-disabled="true"
                            class="btn btn-default"
                            data-ng-click="addInputField()"
                        >
                            <i class="fa fa-plus fa-fw"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
