<!-- Add new key form -->
<form id="frmAddKey" name="frmAddKey" class="form-horizontal" role="form">
    <fieldset>
        <div class="form-group"
            data-ng-class="{'has-error': frmAddKey.txtKeyName.$dirty && frmAddKey.txtKeyName.$invalid}"
        >
            <label for="txtKeyName" class="col-sm-2 control-label">
                * Name:
            </label>
            <div class="col-sm-6">
                <input id="txtKeyName"
                    name="txtKeyName"
                    type="text"
                    class="form-control"
                    data-ng-model="pgpConfig.name"
                    data-ng-minlength="5"
                    maxlength="100"
                    data-ng-maxlength="100"
                    placeholder="PGP/GPG Key Name"
                    autocomplete="off"
                    required="required"
                >
                <span class="error"
                    data-ng-show="frmAddKey.txtKeyName.$error.required"
                >Please specify a name for this key.</span>
                <span class="error"
                    data-ng-show="frmAddKey.txtKeyName.$dirty && frmAddKey.txtKeyName.$error.minlength"
                >Name must be at least 5 characters long.</span>
                <span class="error"
                    data-ng-show="frmAddKey.txtKeyName.$dirty && frmAddKey.txtKeyName.$error.maxlength"
                >Name may not be greater than 100 characters.</span>
            </div>
        </div>
        <div class="form-group">
            <label for="txtKeyDesc" class="col-sm-2 control-label">
                Description:
            </label>
            <div class="col-sm-6">
                <input id="txtKeyDesc"
                    name="txtKeyDesc"
                    type="text"
                    class="form-control"
                    data-ng-model="pgpConfig.description"
                    maxlength="255"
                    data-ng-maxlength="255"
                    autocomplete="off"
                    placeholder="PGP/GPG Key Description"
                >
                <span class="error"
                    data-ng-show="frmAddKey.txtKeyDesc.$dirty && frmAddKey.txtKeyDesc.$error.maxlength"
                >Description may not be greater than 255 characters.</span>
            </div>
        </div>
        <div class="form-group">
            <label for="filUploadKey" class="col-sm-2 control-label">
                Key File:
            </label>
            <div class="col-sm-6">
                <span class="btn btn-default btn-file"
                    data-ng-disabled="!frmAddKey.$valid"
                    data-ng-class="{'disabled': !frmAddKey.$valid}"
                >
                    <i class="fa fa-search fa-lg"></i> Browse...
                    <input id="filUploadKey"
                        type="file"
                        data-ng-file-select="onKeyFileSelect($files)"
                    >
                </span>
                {{selectedFile.name || "No file selected."}}
            </div>
        </div>
        <div class="form-group">
            <label for="txtKeyPass" class="col-sm-2 control-label">
                Password:
            </label>
            <div class="col-sm-6">
                <input id="txtKeyPass"
                    name="txtKeyPass"
                    type="password"
                    class="form-control"
                    data-ng-model="pgpConfig.passwd"
                    maxlength="255"
                    data-ng-maxlength="255"
                    autocomplete="off"
                    placeholder="PGP/GPG Key Password"
                >
                <span class="error"
                    data-ng-show="frmAddKey.txtKeyPass.$dirty && frmAddKey.txtKeyPass.$error.maxlength"
                >Password may not be greater than 255 characters.</span>
            </div>
        </div>
    </fieldset>
    <div class="col-lg-12">
        <div data-ng-show="showUploadProgressBar">
            <progressbar class="progress-striped"
                value="uploadProgress"
                type="info"
            >{{uploadProgress}}%</progressbar>
        </div>
    </div>
    <div class="wizardButtonBar">
        <button type="button"
            class="btn btn-default"
            data-ng-click="switchPGPView('pgpSelectKey')"
        >Cancel</button>
        <button type="button"
            class="btn btn-info"
            data-ng-disabled="!frmAddKey.$valid || !selectedFile || showUploadProgressBar"
            data-ng-click="onNewKeySaveBtnClickEvent()"
        >Save</button>
    </div>
</form>
