<!-- Edit existing key form -->
<form id="frmEditKey" name="frmEditKey" class="form-horizontal" role="form">
    <fieldset>
        <h2>Present Key</h2>
        <div class="form-group"
            data-ng-class="{'has-error': frmEditKey.txtKeyEditName.$dirty && frmEditKey.txtKeyEditName.$invalid}"
        >
            <label for="txtKeyEditName" class="col-sm-3 control-label">
                * Name:
            </label>
            <div class="col-sm-6">
                <input id="txtKeyEditName"
                    name="txtKeyEditName"
                    type="text"
                    class="form-control"
                    data-ng-model="pgpConfig.name"
                    data-ng-minlength="5"
                    maxlength="100"
                    data-ng-maxlength="100"
                    placeholder="PGP/GPG Key Name"
                    autocomplete="off"
                    required="required"
                    data-ng-disabled="isBlocking()"
                >
                <span class="error"
                    data-ng-show="frmEditKey.txtKeyEditName.$error.required"
                >Please specify a name for this key.</span>
                <span class="error"
                    data-ng-show="frmEditKey.txtKeyEditName.$dirty && frmEditKey.txtKeyEditName.$error.minlength"
                >Name must be at least 5 characters long.</span>
                <span class="error"
                    data-ng-show="frmEditKey.txtKeyEditName.$dirty && frmEditKey.txtKeyEditName.$error.maxlength"
                >Name may not be greater than 100 characters.</span>
            </div>
        </div>
        <div class="form-group">
            <label for="txtEditKeyDesc"
                class="col-sm-3 control-label"
            >Description:</label>
            <div class="col-sm-6">
                <input id="txtEditKeyDesc"
                    name="txtEditKeyDesc"
                    type="text"
                    class="form-control"
                    data-ng-model="pgpConfig.description"
                    maxlength="255"
                    data-ng-maxlength="255"
                    autocomplete="off"
                    placeholder="PGP/GPG Key Description"
                    data-ng-disabled="isBlocking()"
                >
                <span class="error"
                    data-ng-show="frmEditKey.txtEditKeyDesc.$dirty && frmEditKey.txtEditKeyDesc.$error.maxlength"
                >
                    Description may not be greater than 255
                    characters.
                </span>
            </div>
        </div>
        <div class="form-group">
            <label for="txtEditKeyPass" class="col-sm-3 control-label">
                Password:
            </label>
            <div class="col-sm-6">
                <input id="txtEditKeyPass"
                    name="txtEditKeyPass"
                    type="password"
                    class="form-control"
                    data-ng-model="pgpConfig.passwd"
                    maxlength="255"
                    data-ng-maxlength="255"
                    autocomplete="off"
                    placeholder="PGP/GPG Key Password"
                    data-ng-disabled="isBlocking()"
                >
                <span class="error"
                    data-ng-show="frmEditKey.txtEditKeyPass.$dirty && frmEditKey.txtEditKeyPass.$error.maxlength"
                >
                    Password may not be greater than 255 characters.
                </span>
            </div>
        </div>

        <h2>Replacement Key</h2>
        <div class="form-group">
            <label for="chkReplaceKey" class="col-sm-3 control-label">
                <i class="fa"
                    data-ng-class="{'fa-plus': !showKeyReplacement, 'fa-minus': showKeyReplacement}"
                ></i>
                &nbsp;Schedule Key Replacement
            </label>
            <div class="col-sm-1">
                <input id="chkReplaceKey"
                    name="chkReplaceKey"
                    class="form-control"
                    type="checkbox"
                    data-ng-model="showKeyReplacement"
                    style="visibility: hidden"
                >
            </div>
            <br style="clear: both;">
            <div id="keyReplacement" data-ng-show="showKeyReplacement">
                <div class="form-group">
                    <label for="filReplaceKey" class="col-sm-3 control-label">
                        Key File:
                    </label>
                    <div class="col-sm-6">
                        <span class="btn btn-default btn-file"
                            data-ng-disabled="!frmEditKey.$valid"
                            data-ng-class="{'disabled': !frmEditKey.$valid}"
                        >
                            <i class="fa fa-search fa-lg"></i> Browse...
                            <input id="filReplaceKey"
                                type="file"
                                data-ng-file-select="onReplaceKeyFileSelect($files)"
                                data-ng-disabled="isBlocking()"
                            >
                        </span>
                        {{replacementFile.name || "No file selected."}}
                    </div>
                </div>
                <div class="form-group">
                    <label for="txtReplacementKeyPass" class="col-sm-3 control-label">
                        Password:
                    </label>
                    <div class="col-sm-6">
                        <input id="txtReplacementKeyPass"
                            name="txtReplacementKeyPass"
                            type="password"
                            class="form-control"
                            data-ng-model="pgpConfig.nextpasswd"
                            maxlength="255"
                            data-ng-maxlength="255"
                            autocomplete="off"
                            placeholder="Replacement PGP/GPG Key Password"
                            data-ng-disabled="isBlocking()"
                        >
                        <span class="error"
                            data-ng-show="frmEditKey.txtReplacementKeyPass.$dirty && frmEditKey.txtReplacementKeyPass.$error.maxlength"
                        >
                            Password may not be greater than 255 characters.
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="txtEffectiveDate" class="col-sm-3 control-label">
                        Effective Date:
                    </label>
                    <div class="col-sm-2">
                        <div class="input-group">
                            <input id="txtEffectiveDate"
                                name="txtEffectiveDate"
                                type="text"
                                class="form-control"
                                datepicker-popup=""
                                data-ng-model="pgpConfig.effectiveDate"
                                is-open="effectiveDatePopupOpened"
                                show-weeks="false"
                                min="minDate"
                                close-text="Close"
                                data-ng-click="openEffectiveDatePopup($event)"
                                data-ng-required=""
                                data-ng-disabled="isBlocking()"
                            >
                            <span class="input-group-addon">
                                <i class="fa fa-calendar fa-fw"></i>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </fieldset>
    <div class="col-lg-12">
        <div data-ng-show="showReplaceUploadProgressBar">
            <progressbar class="progress-striped"
                value="uploadReplaceProgress"
                type="info"
            >{{uploadReplaceProgress}}%</progressbar>
        </div>
    </div>
    <div class="wizardButtonBar">
        <button type="button"
            class="btn btn-default"
            data-ng-disabled="isBlocking()"
            data-ng-click="switchPGPView('pgpSelectKey')"
        >Cancel</button>
        <button type="button"
            class="btn btn-info"
            data-ng-disabled="!frmEditKey.$valid || isBlocking()"
            data-ng-click="onEditKeySaveBtnClickEvent()"
        >Save</button>
    </div>
</form>
