<!-- Key selection form -->
<form name="frmManageKeys" class="form-horizontal" role="form">
    <fieldset class="form-group">
        <div class="form-group">
            <label for="lstPrivateKeys"
                class="col-sm-2 control-label"
            >Keys:</label>
            <div class="col-sm-5">
                <select id="lstPrivateKeys"
                    class="form-control"
                    data-ng-model="pgpConfig.id"
                    data-ng-options="pgpKey.id as pgpKey.name for pgpKey in pgpKeys"
                    data-ng-disabled="1 > pgpKeys.length"
                >
                    <option id="lstPrivateKeysDefault" value="">
                        Please wait for key data to load...
                    </option>
                </select>
            </div>
            <div class="col-sm-3">
                <a class="btn btn-info"
                    data-ng-disabled="null === pgpConfig.id || undefined == pgpConfig.id"
                    data-ng-click="onEditKeyBtnClickEvent()"
                ><i class="fa fa-edit fa-lg"></i></a>
                <a class="btn btn-danger"
                    data-ng-disabled="null === pgpConfig.id || undefined == pgpConfig.id"
                    data-ng-click="onDeleteKeyBtnClickEvent()"
                ><i class="fa fa-trash-o fa-lg"></i></a>
            </div>
        </div>
    </fieldset>
    <div class="wizardButtonBar">
        <button type="button"
            class="btn btn-default"
            data-ng-click="onAddKeyBtnClickEvent()"
        >Add</button>
    </div>
</form>
