<div ng-controller="pollingScheduleController">
    <ng-form name="pollingScheduleForm">
        <h4>Polling Frequency</h4>
        <div class="form-group">
            <label for="pollFrequency" class="col-sm-2 control-label">Run Every</label>
            <div class="col-sm-5">
                <select id="pollFrequency"
                    name="pollFrequency"
                    class="form-control"
                    ng-model="scheduleTemplate.pollingFrequency"
                    ng-options="pollingFrequency.value as pollingFrequency.name for pollingFrequency in pollingFrequencies">
                </select>
            </div>

            <label for="pollHour"
                class="col-sm-2 control-label"
                ng-show="1440 == scheduleTemplate.pollingFrequency"
            >At Hour</label>
            <div class="col-sm-2">
                <select id="pollHour"
                    name="pollHour"
                    class="form-control"
                    ng-model="scheduleTemplate.hour"
                    ng-options="hour.label for hour in hours"
                    ng-show="1440 == scheduleTemplate.pollingFrequency"
                ></select>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4 col-sm-offset-4">
                <button ng-disabled="!pollingScheduleForm.$valid" type="button" class="btn btn-info btn-block" ng-click="checkSchedule()"><i class="fa fa-check fa-fw"></i> Check Schedule</button>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <alert style="margin-top: 10px" ng-repeat="alert in scheduleAlerts" type="alert.type" close="closeScheduleAlert($index)">{{alert.msg}}</alert>
            </div>
        </div>
    </ng-form>
</div>
