<div data-ng-controller="wizardStep1JobController">
    <form name="wizardJobFormStep1" class="form-horizontal" role="form">
    <div class="row" style="margin-top: 15px">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-bullseye fa-fw"></i> {{L.jobSectionHeader}}
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-8">
                            <h4>{{L.selectJobHeader}}</h4>
                            <div class="form-group"
                                data-ng-class="{'has-error': wizardJobFormStep1.jobType.$dirty && wizardJobFormStep1.jobType.$invalid}"
                            >
                                <label for="jobType"
                                    class="col-sm-2 control-label"
                                >* {{L.jobTypeLabel}}:</label>
                                <div class="col-sm-10">
                                    <select id="jobType"
                                        name="jobType"
                                        class="form-control"
                                        data-ng-model="jobType"
                                        data-ng-options="jobType.name for jobType in jobTypes"
                                        data-ng-change="onJobTypeChangeEvent(jobType)"
                                        required
                                    >
                                        <option selected disabled value="">
                                            {{L.selectJobType}}
                                        </option>
                                    </select>
                                    <em> {{jobType.description}}</em>
                                </div>
                            </div>
                            <div class="form-group"
                                data-ng-class="{'has-error': wizardJobFormStep1.jobName.$dirty && wizardJobFormStep1.jobName.$invalid}"
                            >
                                <label for="jobName"
                                    class="col-sm-2 control-label"
                                >* {{L.jobNameLabel}}:</label>
                                <div class="col-sm-10">
                                    <input id="jobName"
                                        name="jobName"
                                        type="text"
                                        class="form-control"
                                        placeholder="{{L.jobNamePlaceholder}}"
                                        data-ng-model="jobConfigTemplate.jobName"
                                        data-ng-minlength="5"
                                        data-ng-maxlength="100"
                                        maxlength="100"
                                        required
                                    >
                                    <span class="error"
                                        style="color: #a94442; font-size: 12px;"
                                        data-ng-show="wizardJobFormStep1.jobName.$dirty && wizardJobFormStep1.jobName.$error.required"
                                    >{{L.errorJobNameRequired}}</span>
                                    <span class="error"
                                        style="color: #a94442; font-size: 12px;"
                                        data-ng-show="wizardJobFormStep1.jobName.$dirty && wizardJobFormStep1.jobName.$error.minlength"
                                    >{{L.errorJobNameMinLength}}</span>
                                    <span class="error"
                                        style="color: #a94442; font-size: 12px;"
                                        data-ng-show="wizardJobFormStep1.jobName.$dirty && wizardJobFormStep1.jobName.$error.maxlength"
                                    >{{L.errorJobNameMaxLength}}</span>
                                </div>
                            </div>
                            <div class="form-group"
                                data-ng-class="{'has-error': wizardJobFormStep1.jobDesc.$dirty && wizardJobFormStep1.jobDesc.$invalid}"
                            >
                                <label for="jobDesc"
                                    class="col-sm-2 control-label"
                                >{{L.jobDescLabel}}:</label>
                                <div class="col-sm-10">
                                    <input id="jobDesc"
                                        name="jobDesc"
                                        type="text"
                                        class="form-control"
                                        placeholder="{{L.jobDescPlaceholder}}"
                                        data-ng-model="jobConfigTemplate.jobDescription"
                                        data-ng-maxlength="255"
                                        maxlength="255"
                                    >
                                    <span class="error"
                                        style="color: #a94442; font-size: 12px;"
                                        data-ng-show="wizardJobFormStep1.jobDesc.$dirty && wizardJobFormStep1.jobDesc.$error.maxlength"
                                    >{{L.errorJobDescMaxLength}}</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="jobExpireInDays"
                                    class="col-sm-2 control-label"
                                >{{L.runForLabel}}:</label>
                                <div class="col-sm-10">
                                    <select id="jobExpireInDays"
                                        name="jobExpireInDays"
                                        class="form-control"
                                        data-ng-model="jobConfigTemplate.daysAvailable"
                                        data-ng-options="jobExpiry.value as jobExpiry.name for jobExpiry in jobExpiries"
                                    ></select>
                                </div>
                            </div>
                        </div>
                        <input type="checkbox"
                            data-ng-hide="true"
                            data-ng-model="isScheduleValid"
                            data-ng-required="showSchedule.isActive"
                        >
                        <div class="col-lg-8"data-ng-show="showSchedule.isActive && showSchedule.mode() === schedulingModes.RECURRING">
                            <div data-ng-include="scheduleTemplate.path"></div>
                        </div>
                        <div class="col-lg-8"
                            data-ng-show="showSchedule.isActive && showSchedule.mode() === schedulingModes.POLLING"
                        >
                            <div data-ng-include="pollingScheduleTemplate.path"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </form>
</div>
